h1,
h2,
h3,
h4 {
  margin: 0px;
}
.window-app .window-content,
.app,
body {
  font-family: Body;
  background-image: none;
  color: #121212;
}
.window-app .window-content {
  background: #fdf2c3;
}
::-webkit-scrollbar-thumb {
  background-color: #4d3b00;
  border: 1px solid #ffffff;
}
.app {
  background: #ffc80d;
}
body {
  background: #E2E0CF;
}
#chat-log .message,
#chat-log .message.whisper,
#chat-form textarea {
  background: none;
  background: #fdf2c3;
}
.flavor-text {
  color: #121212;
}
h2 {
  font-family: Title;
  border-bottom: 2px solid #121212;
}
input[type="text"] {
  border: 1px solid #121212;
  border-radius: 0px;
  font-family: Title;
  font-size: 1.3em;
  padding: 0 5px;
}
select:focus,
textarea:focus,
input[type="text"]:focus {
  outline: 1px solid #19160D;
  box-shadow: 0 0 5px #4d3b00;
}
a:hover {
  text-shadow: 0 0 8px #ffc80d;
}
select,
button,
textarea,
form button {
  font-family: Body;
  border-radius: 0;
  border: 1px solid #19160D;
}
button:hover {
  box-shadow: 0 0 10px #ffc80d;
}
#chat-log .message,
#chat-log .message h2,
#chat-log .message h3,
button,
input,
input[type="text"],
input[type="password"],
input[type="datetime-local"] {
  color: #121212;
}
.sheet-footer {
  margin-top: 10px;
}
.fa-cog:before,
.fa-plus:before,
.fa-caret-left:before,
.fa-caret-right:before,
.fa-angle-down:before,
.fa-angle-up:before,
.fa-search:before,
.fa-arrow-down-a-z:before,
.fa-arrow-up-a-z:before,
.fa-arrow-down-short-wide:before,
.fa-arrow-up-short-wide:before,
.fa-folder-tree:before {
  color: #121212;
}
.window-content .fa-plus:before {
  color: #121212;
}
.tabs .item.active {
  text-shadow: 0 0 10px #ffc80d;
}
#sidebar-tabs {
  box-shadow: 0 0 10px #ffc80d;
  border-bottom: 1px solid #19160D;
}
#sidebar-tabs > .item.active {
  border: 1px solid #19160D;
  box-shadow: 0 0 6px inset #4d3b00;
  color: #ffffff;
}
.sidebar-tab .directory-header,
#combat #combat-round {
  border-bottom: 2px solid #19160D;
}
#combat #combat-controls {
  border-top: 2px solid #19160D;
}
#settings h2 {
  border-top: 1px solid #19160D;
  border-bottom: 1px solid #19160D;
}
#settings hr {
  border-color: #19160D;
}
.directory-item .document-name {
  color: #121212;
}
.sidebar-tab .directory-list .directory-item img {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  align-self: center;
  margin: 5px;
}
li.folder > .folder-header h3 {
  color: #121212;
}
div.card-buttons {
  margin-top: 5px;
}
.combat-sidebar .combat-tracker-header nav.encounters h4,
.combat-sidebar .combat-tracker-header a.combat-button {
  color: #121212;
}
#hotbar .macro:hover {
  box-shadow: 0 0 10px #ffc80d inset;
}
#hotbar .macro.active:hover {
  border: 1px solid #4d3b00;
}
#navigation #scene-list .scene.gm {
  color: #ffffff;
  border: 1px solid #4d3b00;
}
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
  color: #ffffff;
  border: 1px solid #ffc80d;
  border-bottom: 2px solid #ffc80d;
  box-shadow: 0 0 10px #fdf2c3;
}
#navigation #nav-toggle:hover {
  text-shadow: 0 0 10px #ffc80d;
}
#navigation #scene-list .scene {
  color: #ffffff;
}
#controls ol.control-tools > li.active,
#controls ol.control-tools > li:hover {
  color: #ffffff;
  border: 1px solid #ffc80d;
  border-bottom: 2px solid #ffc80d;
  box-shadow: 0 0 10px #19160D;
}
.camera-view .player-name {
  color: #ffffff;
  border: 2px solid #ffc80d;
}
#players ol .player-name.self {
  color: #121212;
  font-weight: bold;
}
.directory-item .compendium-name {
  color: #ffffff;
}
.compendium-sidebar .directory-item.compendium:hover .compendium-name {
  text-shadow: 0 0 8px #ffc80d;
}
.compendium-footer .source {
  color: #ffffff;
}
.compendium-footer .source .fa-solid {
  color: #ffffff;
}
li.folder > .folder-header .create-button .fa-plus {
  background: none;
}
@font-face {
  font-family: Title;
  src: url('/systems/dragon-race/resources/fonts/Chelsea_Market/ChelseaMarket-Regular.ttf');
}
@font-face {
  font-family: Body;
  src: url('/systems/dragon-race/resources/fonts/Montserrat/Montserrat-Medium.ttf');
}
.grid-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 10px;
}
.grid-rows {
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}
.no-border {
  border: hidden;
}
.expand:hover {
  transform: scale(1.1);
}
.error-red {
  color: darkred !important;
}
.dragonrace .window-content {
  color: #121212;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}
.dragonrace .sheet-panel {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
}
.dragonrace .sheet-panel nav.sheet-tabs {
  border-top: none;
  border-bottom: 1px solid #121212;
  margin: 14px 0px 0px 0px;
}
.dragonrace .sheet-panel nav.sheet-tabs a.active {
  background-color: #ffc80d;
}
.dragonrace .sheet-panel nav.sheet-tabs a {
  border: 1px solid #19160D;
  border-radius: 10px 10px 0px 0px;
  flex: 1;
  font-family: Title;
}
.dragonrace .sheet-panel .sheet-body {
  border: 1px solid #121212;
  padding: 5px;
}
.dragonrace .sheet-panel #stat-panel {
  height: auto;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr;
  grid-template-areas: "portrait name name" "portrait alacrity chutzpah" "portrait ferociousness scaliness";
  gap: 10px;
}
.dragonrace .sheet-panel #stat-panel .profile-img {
  grid-area: portrait;
  height: 100px;
  background-color: rgba(25, 22, 13, 0.1);
}
.dragonrace .sheet-panel #stat-panel .char-name {
  grid-area: name;
  border-bottom: 0;
}
.dragonrace .sheet-panel #stat-panel .char-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.dragonrace .sheet-panel #stat-panel #stat-alacrity,
.dragonrace .sheet-panel #stat-panel #stat-chutzpah,
.dragonrace .sheet-panel #stat-panel #stat-ferociousness,
.dragonrace .sheet-panel #stat-panel #stat-scaliness {
  grid-area: alacrity;
  gap: 0;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: "title title" "value die";
  align-items: center;
}
.dragonrace .sheet-panel #stat-panel #stat-alacrity {
  grid-area: alacrity;
}
.dragonrace .sheet-panel #stat-panel #stat-chutzpah {
  grid-area: chutzpah;
}
.dragonrace .sheet-panel #stat-panel #stat-ferociousness {
  grid-area: ferociousness;
}
.dragonrace .sheet-panel #stat-panel #stat-scaliness {
  grid-area: scaliness;
}
.dragonrace .sheet-panel #stat-panel .stat-title {
  grid-area: title;
}
.dragonrace .sheet-panel #stat-panel .stat-button {
  height: 40px;
  grid-area: icon;
}
.dragonrace .sheet-panel #stat-panel .stat-roll-single {
  height: 35px;
  grid-area: die;
}
.dragonrace .sheet-panel #stat-panel .stat-value {
  font-size: 45px;
  font-family: Title;
  height: 50px;
  text-align: center;
  width: 40px;
  border: 0;
  background: transparent;
  grid-area: value;
}
.dragonrace .sheet-panel #items-panel .dw-item-list {
  overflow-y: auto;
  height: 175px;
}
.dragonrace .sheet-panel #items-panel .add-item {
  font-size: 0.7rem;
  align-self: center;
}
.dragonrace .sheet-panel #items-panel .add-item:hover {
  text-shadow: 2px 2px 4px var(--color-text-dark-5);
  cursor: pointer;
}
.dragonrace .sheet-panel #items-panel ol {
  list-style: none;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 5px;
}
.dragonrace .sheet-panel #items-panel .items-header {
  border-bottom: 1px solid var(--color-border-dark-5);
}
.dragonrace .sheet-panel #items-panel .items-header .item-name {
  padding-left: 5px;
  text-align: left;
  border-bottom: none;
}
.dragonrace .sheet-panel #items-panel .item-name {
  margin: 0;
  overflow: hidden;
  align-items: center;
}
.dragonrace .sheet-panel #items-panel .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  margin: 5px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
}
.dragonrace .sheet-panel #items-panel .item-name .item-image {
  background-color: rgba(25, 22, 13, 0.1);
}
.dragonrace .sheet-panel #items-panel .item-description {
  margin-right: 5px;
}
.dragonrace .sheet-panel #items-panel .item-controls {
  flex: 0 0 68px;
  align-items: center;
}
.dragonrace .chatItem .item-image {
  flex: 0 0 15px;
  height: 15px;
  width: 15px;
  background-size: cover;
  background-position: 50% 0;
  border: none;
}
