@import "foundry-overrides.less";
@import "variables.less";
@import "utility.less";

.dragonrace {

    .window-content {
        color: @textColor;
        height: 100%;
        padding: @defaultMargin;
        overflow-y: auto;
    }
    .sheet-panel {
        display: grid;
        grid-template-rows: max-content max-content 1fr;;

        nav.sheet-tabs {

            border-top: none;
            border-bottom: 1px solid @textColor;
            margin: 14px 0px 0px 0px;

            a.active {
                background-color: @brightColor;
            }

            a {
                border: 1px solid @darkColor;
                border-radius: 10px 10px 0px 0px;
                flex: 1;
                font-family: Title;
            }

        }

        .sheet-body {
            margin-top: @defaultMargin;
            border: 1px solid @textColor;
            padding: 5px;
        }

        #stat-panel {
            gap: @defaultMargin;
            height: auto;
            display: grid;
            grid-template-columns: 150px 1fr 1fr;
            grid-template-rows: 60px 1fr 1fr;
            grid-template-areas: "portrait name name" "portrait alacrity chutzpah" "portrait ferociousness scaliness";
            row-gap: @defaultMargin;

            .profile-img {
                grid-area: portrait;
                width: 100%;
                height: 100%;
                background-color: fade(@darkColor, 10%);
            }

            .char-name {
                grid-area: name;
                border-bottom: 0;
                margin-bottom: @defaultMargin;

                input {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: @defaultMargin;
                }
            }

            #stat-alacrity,
            #stat-chutzpah,
            #stat-ferociousness,
            #stat-scaliness {
                gap: 0;
                display: grid;
                grid-template-columns: auto 50px 50px;
                grid-template-rows: auto;
                grid-template-areas: "title value die";
                justify-items: stretch;
                align-items: center;
                border: 1px solid var(--color-border-dark-5);
                padding: 2px;
            }
            #stat-alacrity {
                grid-area: alacrity;
            }
            #stat-chutzpah {
                grid-area: chutzpah;
            }
            #stat-ferociousness {
                grid-area: ferociousness;
            }
            #stat-scaliness {
                grid-area: scaliness;
            }
            .stat-title {
                grid-area: title;
                margin-left: 5px;
                font-size: 1.25em;
            }
            .stat-button {
                height: 40px;
                grid-area: icon;
            }
            .stat-roll-single {
                height: 35px;
                grid-area: die;
                margin: 0px;
                cursor: pointer;
            }
            .stat-value {
                font-size: 45px;
                font-family: Title;
                height: 50px;
                text-align: center;
                width: 40px;
                grid-area: value;
            }
        }

        #items-panel {

            .dw-item-list {
                overflow-y: auto;
                height: 175px;
            }
            .add-item {
                font-size: 0.7rem;
                align-self: center;
            }
            .add-item:hover {
                text-shadow: 2px 2px 4px var(--color-text-dark-5);
                cursor: pointer;
            }

            ol {
                list-style: none;
                margin: 0;
                overflow-y: auto;
                scrollbar-width: thin;
                padding: 0 5px;
            }
            .items-header {
                border-bottom: 1px solid var(--color-border-dark-5);

                .item-name {
                    padding-left: 5px;
                    text-align: left;
                    border-bottom: none;
                }
            }
            
            .item-name {
                margin: 0;
                overflow: hidden;
                align-items: center;

                .item-image {
                    flex: 0 0 30px;
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                    background-size: cover;
                    background-position: 50% 0;
                    border: none;
                }

                .item-image {
                    background-color: fade(@darkColor, 10%);
                }
            }
            .item-description {
                margin-right: 5px;
            }
            .item-controls {
                flex: 0 0 68px;
                align-items: center;
            }
        }
    }
    .chatItem .item-image {
        flex: 0 0 15px;
        height: 15px;
        width: 15px;
        background-size: cover;
        background-position: 50% 0;
        border: none;
    }

}
