@import "foundry-overrides.less";
@import "variables.less";
@import "utility.less";

.definitelywizards {

    .window-content {
        color: @textColor;
        height: 100%;
        padding: @margin;
        overflow-y: auto;
    }
    .sheet-panel {
        display: grid;
        grid-template-rows: max-content max-content 1fr;;

        nav.sheet-tabs {

            border-top: none;
            border-bottom: 1px solid @textColor;
            margin: 14px 0px 0px 0px;

            a.active {
                background-color: @brightColor;
            }

            a {
                border: 1px solid @darkColor;
                border-radius: 10px 10px 0px 0px;
                flex: 1;
                font-family: Title;
            }

        }

        .sheet-body {
            border: 1px solid @textColor;
            padding: 5px;
        }

        #stat-panel {
            gap: @margin;
            height: auto;
            display: grid;
            grid-template-columns: 100px 1fr 1fr;
            grid-template-rows: 40px 1fr;
            grid-template-areas: "portrait name name" "portrait wizard wild";
            gap: @margin;

            .profile-img {
                grid-area: portrait;
                height: 100px;
                background-color: fade(@darkColor, 10%);
            }
            .char-name {
                grid-area: name;
                border-bottom: 0;

                input {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }
            #stat-wizard,
            #stat-wild {
                grid-area: wizard;
                gap: 0;
                margin-top: -10px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto 1fr;
                grid-template-areas: "title title title ." "value die dice." "plus minus reset .";
                align-items: center;
            }
            #stat-wizard {
                grid-area: wizard;
            }
            #stat-wild {
                grid-area: wild;
            }
            .stat-title {
                grid-area: title;
            }
            .stat-button {
                height: 40px;
                grid-area: icon;
            }
            .stat-button-plus {
                height: 25px;
                grid-area: plus;
            }
            .stat-button-minus {
                height: 25px;
                grid-area: minus;
            }
            .stat-button-reset {
                height: 25px;
                grid-area: reset;
            }
            .stat-roll-single {
                height: 35px;
                grid-area: die;
            }
            .stat-roll-double {
                height: 35px;
                grid-area: dice;
            }
            .stat-value {
                font-size: 45px;
                font-family: Title;
                height: 50px;
                text-align: center;
                width: 40px;
                border: 0;
                background: transparent;
                grid-area: value;
            }
        }

        #attributes-tab {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto 1fr;
        }

        #attributes-panel {
            margin-right: 0.5rem;

            #attributes {
                display: grid;
                gap: @margin;
                margin-top: @margin;

                label {
                    grid-area: attr-label;
                }

                select {
                    grid-area: attr-select;
                }

                img {
                    grid-area: attr-roller;
                }

                input {
                    grid-area: attr-custom;
                }
            }
            .attribute {
                align-items: center;
                display: grid;
                gap: @margin;
                grid-template-columns: 72px 200px 1fr;
                grid-template-areas: "attr-label attr-select attr-roller" ". attr-custom ."
            }
        }
        #bio-panel {
            display: grid;
            grid-template-rows: max-content 1fr;

            .editor {
                min-height: 150px;
                max-height: 260px;
                overflow-y: auto;
            }
        }

        #class-description-panel {
            display: grid;
            grid-template-rows: max-content 1fr;
            margin-right: 0.5rem;

            .class-description {
                min-height: 50px;
                max-height:  100px;
                overflow-y: auto;
                border: 0;
                background: transparent;
            }
        }

        #middle-panel {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            flex-wrap: nowrap;
            height: auto;
            margin-top: 14px;
        }

        #items-panel, #props-panel, #spells-panel {

            .dw-item-list, .dw-prop-list {
                overflow-y: auto;
                height: 175px;
            }

            .dw-spell-list {
                overflow-y: auto;
                height: 300px;
            }

            .add-item, .add-spell, .add-prop {
                font-size: 0.7rem;
                align-self: center;
            }
            .add-item:hover, .add-spell:hover, .add-prop:hover {
                text-shadow: 2px 2px 4px var(--color-text-dark-5);
                cursor: pointer;
            }

            ol {
                list-style: none;
                margin: 0;
                overflow-y: auto;
                scrollbar-width: thin;
                padding: 0 5px;
            }
            .items-header, .spells-header, .props-header {
                border-bottom: 1px solid var(--color-border-dark-5);

                .item-name, .spell-name, .prop-name {
                    padding-left: 5px;
                    text-align: left;
                    border-bottom: none;
                }
            }
            .item-roll, .spell-roll, .prop-roll {
                cursor: pointer;
            }
            .item-name, .spell-name, .prop-roll {
                margin: 0;
                overflow: hidden;
                align-items: center;

                .item-image, .spell-image, .prop-image {
                    flex: 0 0 30px;
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                    background-size: cover;
                    background-position: 50% 0;
                    border: none;
                }

                .item-image {
                    background-color: fade(@darkColor, 10%);
                }
            }
            .item-description, .spell-description, .prop-description {
                margin-right: 5px;
            }
            .item-controls, .spell-controls, .prop-controls {
                flex: 0 0 68px;
                align-items: center;
            }
        }
    }
    .chatItem .item-image {
        flex: 0 0 15px;
        height: 15px;
        width: 15px;
        background-size: cover;
        background-position: 50% 0;
        border: none;
    }
}
