@defaultMargin: 10px;
@darkColor: #19160D;
@medDarkColor: #4d3b00;
@brightColor: #9dfbff;
@mediumColor: #9edee1;
@lightColor: #d4e7e8;
@textColor: #121212;
@lightTextColor: #ffffff;
@successColor: #00ff00;
@failColor: #ff0000;

@font-face {
    font-family: Title;
    src: url('/systems/dragon-race/resources/fonts/Chelsea_Market/ChelseaMarket-Regular.ttf');
}

@font-face {
    font-family: Body;
    src: url('/systems/dragon-race/resources/fonts/Montserrat/Montserrat-Medium.ttf');
}
